@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 1024px) { @content; }
  }
  @if $breakpoint == mobile {
    @media (max-width: 768px) { @content; }
  }
}
